{% extends "base.html" %}
{% block section %}
<section class="content">
    <div class="container-fluid">

    </div>
</section>
{% endblock %}
{% block js %}
<!--<script src="../static/plugins/jquery/jquery.min.js"></script>-->
<!--&lt;!&ndash; Chart Plugins Js &ndash;&gt;-->
<!--<script src="../static/plugins/chartjs/Chart.bundle.js"></script>-->
<!--&lt;!&ndash; Custom Js &ndash;&gt;-->
<!-- Custom Js -->
<script src="../static/js/admin.js"></script>
<script src="../static/js/pages/index.js"></script>
<script src="../static/js/pages/charts/chartjs.js"></script>
{% endblock %}